header {
  height: 400px;
  display: flex;
  flex-direction: column;
  top: 200px;
  left: 30px;
  width: 35%;
}

.avatar {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.name {
  font-family: "Indie Flower", cursive, "sans-serif";
  text-align: center;
  color: white;
  font-size: 35px;
}

#header-back {
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  background-color: #cc60bc;
  position: absolute;
}


