#nav-div {
  height: 120px;
  width: 100%;
  z-index: 7;
  background-color: #720b6f;
  color: #ffffff;
  font-family: "Indie Flower", cursive, "sans-serif";
  position: fixed;
  justify-content: space-between;
  display: flex;
}

#compose-arrow {
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-size: 3em;
  margin-left: 0.5em;
  margin-bottom: 1.5em;
}

#write-nav {
  font-size: 1.5em;
  font-family: "Indie Flower", cursive, "sans-serif";
  margin: 0 auto;
  margin-top: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  /* 25% {transform: translateY(7px);} */
  50% {
    transform: translateY(10px);
  }
  /* 75% {transform: translateY(7px);} */
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 1s infinite;
}

#arrow-button {
  background-color: transparent;
  border: none;
  margin: 0 auto;
}

#arrow-button:hover {
  cursor: pointer;
}

#arrow-pic {
  color: white;
}
