.nav-div {
  height: 120px;
  width: 100%;
  z-index: 7;
  background-color: #720b6f;
  color: #ffffff;
  font-family: "Indie Flower", cursive, "sans-serif";
  position: fixed;
  justify-content: space-between;
  display: flex;
  padding: 15px;
  top: 0px;
}

#compose {
  display: flex;
  flex-direction: column;
}

.app-name {
  font-size: 45px;
  font-weight: bold;
}

#write-nav {
  font-size: 35px;
  font-family: "Indie Flower", cursive, "sans-serif";
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 1s infinite;
}

#arrow-button {
  background-color: transparent;
  border: none;
  margin: 0 auto;
}

#arrow-button:hover {
  cursor: pointer;
}

#arrow-pic {
  color: white;
}

/* Desktop Styles */
@media only screen and (max-width: 1024px) {
  .nav-div {
    background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
    background-color: #cc60bc;
    height: 100px;
  }
}
