h2 {
  font-family: 'Indie Flower', cursive, 'sans-serif';
  
}
.new-tweet {
  margin: 0 auto;
  border-bottom: 2em;
  height: 200px;
  text-align: center;
}
#tweet-box {
  width: 90%;
  margin: 0 auto;
  border-radius: 25px;
  border: none;
  font-family: 'Indie Flower', cursive, 'sans-serif';
  padding: 0.5em;
  /* removes the little resize feature  */
  resize: none; 
  overflow: auto;
}

#counter-btn {
  text-align: right;
  font-family: 'Indie Flower', cursive, 'sans-serif';
  float: right;
  margin-right: 5%;
  font-size: 2.5em;
}

.red {
  color: red;
}

.button {
  background-color: #4B0082;
  font-size: 1.3em;
  color: white;
  border-radius: 25px;
  margin-left: 5%;
  padding: 0.5em;
  font-family: 'Indie Flower', cursive, 'sans-serif';
  margin-top: 0.5em;
  float: left;
}
p {
  font-family: 'Indie Flower', cursive, 'sans-serif';
  margin: 0 auto;
  margin-top: 0.5em;
}

.validation {
   border: 2px solid red;
   width: 60%;
   margin: 0 auto;
   padding: 10px;
}
.validation-msg {
  font-size: 1rem;
  color: red;

}

.alert-icon {
  color: red;
}