h2 {
  font-family: "Indie Flower", cursive, "sans-serif";
}
.new-tweet {
  border-bottom: 2em;
  height: 300px;
  text-align: center;
  display: none;
}
#tweet-box {
  width: 95%;
  margin: 0 auto;
  border-radius: 25px;
  border: none;
  font-family: "Indie Flower", cursive, "sans-serif";
  padding: 0.5em;
  /* removes the little resize feature  */
  resize: none;
  overflow: auto;
  outline: none;
}

#counter-btn {
  font-family: "Indie Flower", cursive, "sans-serif";
  float: right;
  font-size: 50px;
  margin-right: 25px;
}

.red {
  color: red;
}

.button {
  background-color: #4b0082;
  font-size: 30px;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-family: "Indie Flower", cursive, "sans-serif";
  margin-top: 0.5em;
  margin-left: 25px;
  float: left;
}

.validation-msg {
  font-size: 1rem;
  color: red;
}

.alert-icon {
  color: red;
}

.validation {
  border: 2px solid red;
  /* border-radius: 20px; */
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  display: none;
  text-align: center;
}
