.tweet-container {
  border-style: solid;
  border-color: black;
  margin: 0 auto;
  height: 300px;
  position: relative;
  opacity: 0.5;
  margin-top: 120px;
}

.tweet-container:hover {
  box-shadow: 5px 5px #4B0082;
  opacity: 1;
}

/* aims at any descendant of the .tweet-container tag with an id of user-handle
and toggles this opacity feature when the container is hovered */
.tweet-container:hover .user-handle {
  opacity: 1;
}

.user-handle {
  opacity: 0;
}


.tweet-header {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 .tweet-avatar {
   position: absolute;  
   float: left;
   margin-left: 0.5em;
   width: fit-content;
   margin-top: 0.5em;
 }

 .user-name {
   position: absolute;
 }

 #tweet-footer {
  border-top: 2px solid black;
  margin-right: 1em;
  margin-left: 1em;
  display: block;
 }

 .tweet-text {
   text-align: left;
   margin-left: 1em;
   height: 130px;
   font-size: 1.2em;
 }

#icons i {
  position: relative;
  top: 5px;
  color: #4B0082;
 }
 #time-stamp {
   float: left;
   margin-top: 5px;
 }
 #icons {
   float:right;
 }
 