.tweet-container {
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 300px;
  opacity: 0.5;
}

.tweet-header {
  height: 100px;
  width: 100%;
}

.tweet-avatar { 
  float: left; 
  margin-left: 0.6rem;
  margin-top: 0.5rem;  
  /* width: fit-content; */
}

.user-name {
  float: left;
  margin-left: 0.5rem;
}

.user-handle {
  opacity: 0;
  float: right;
  margin-right: 0.5rem;
}

.tweet-text {
  margin-left: 1em;
  height: 80px;
  font-size: 1.2rem;
}

.tweet-footer {
  border-top: 2px solid black;
  margin-right: 1rem;
  margin-left: 1rem;
}

.icons {  
  color: #4B0082;
  opacity: 0;
  float: right;
}

.time-stamp {
   float: left;
   margin-top: 5px;
}

.tweet-container:hover {
  box-shadow: 5px 5px #4B0082;
  opacity: 1;
}
/* aims at any descendant of the .tweet-container tag with an id of user-handle
and toggles this opacity feature when the container is hovered */
.tweet-container:hover .user-handle {
  opacity: 1;
}

.tweet-container:hover .icons {
  opacity: 1;
}